{% extends "layout-apply.html" %}

{% set hmpoTitle %}Get a digital photo{% endset %}

{%- set photoCodeConditional -%}
    <p>Check if your printed photos have a <a href="/help/photo-with-a-code" target="_blank">photo code</a> – you’ll need to enter this code to retrieve your photo.</p>
{%- endset -%}

{% block mainContent %}

    {% call hmpoForm(ctx) %}

        {{ hmpoRadios(ctx, {
            id: "photoMethod",
            legend: {
                text: hmpoTitle
            },
            isPageHeading: true,
            items: [{
                value: "photo-code",
                text: "I have a code to enter",
                conditional: { html: photoCodeConditional }
            },
            {
                value: "digital-photo",
                text: "I’ll take or upload a digital photo"
            }]
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}


{% endblock %}
