{% extends "layout-apply.html" %}

{% set hmpoTitle %}How to get a digital passport photo{% endset %}

{% block mainContent %}
    <h1>{{ hmpoTitle }}</h1>

    <h2>Go to a photo booth</h2>
    <p>You'll need to choose to get a <a href="/help/photo-with-a-code" target="_blank">photo with a code</a>. It's easy to use when you apply online - simply enter the code to add the photo to your application.</p>

    <h2>Go to a photo shop</h2>
    <p>You'll get a digital photo taken by a photograther. You can also ask for a <a href="/help/photo-with-a-code" target="_blank">photo with a code</a>.</p>

    {{ govukInsetText({
        classes: 'govuk-inset-text hmpo-inset-info',
        text: "Photos from a booth or shop are more likely to pass our checks."
    }) }}
    
    <h2>Take a digital photo at home</h2>
    <p>You'll need someone to help you take a photo using a digital camera, smartphone or tablet.</p>

    {% call hmpoForm(ctx) %}
        {{ hmpoSubmit(ctx) }}
    {% endcall %}


{% endblock %}
