{% extends "layout-apply.html" %}

{% set hmpoTitle %}How to get a digital passport photo{% endset %}

{% block mainContent %}
    <h1>{{ hmpoTitle }}</h1>

    <h2>Photo with a code</h2>
    <p>Go to a photo shop or booth, and choose to get a code with your photo.</p>
    <p>It’s simple to use in your online passport application.</p>

    <ol class="govuk-list govuk-list--number">
        <li>you’ll have the option to enter the code to access your photo</li>
        <li>after entering the code, you’ll see your photo on the screen</li>
        <li>check your photo and submit it</li>
        <li>your photo will be added directly to your application</li>
    </ol>
    <p>In a shop you can also get a digital photo taken by a photographer that is emailed to you.</p>


    {{ govukInsetText({
        classes: 'govuk-inset-text hmpo-inset-info',
        text: "Photos from a booth or shop are more likely to pass our checks."
    }) }}
    
    <h2>Take a digital photo at home</h2>
    <p>You'll need someone to help you take a photo using a digital camera, smartphone or tablet.</p>

    {% call hmpoForm(ctx) %}
        {{ hmpoSubmit(ctx) }}
    {% endcall %}


{% endblock %}
