{% extends "layout.html" %}

{% set disableCookieBanner = true %}

{% set hmpoTitle %}Surge photo changes{% endset %}

{% block header %}
    {{ govukHeader({
        serviceName: govukServiceName,
        serviceUrl: "/"
    }) }}
{% endblock %}

{% block phaseBanner %}
{% endblock %}

{% block mainContent %}
    <h1>{{ hmpoTitle }}</h1>

    <p>Lab days: 25, 26 and 27 May 2021</p>

    {{ govukButton({
        text: "View prototype",
        href: "/start",
        classes: "govuk-!-margin-bottom-2"
    }) }}

{% endblock %}