{% extends "layout-apply.html" %}

{% set hmpoTitle %}Do you live in the UK?{% endset %}

{% block mainContent %}

    {% call hmpoForm(ctx) %}
        {% if values.urgent %}
            <div class="govuk-inset-text hmpo-inset-info">
                If you’re applying for someone else, answer these questions with their details. If they are unable to make their own decisions, you need to apply with <a href="#">1 week Fast Track</a>.
            </div>
        {% else %}
            <div class="govuk-inset-text hmpo-inset-info">
                If you’re applying on behalf of an adult or child, answer these questions with their details rather than your own.
            </div>
        {% endif %}

        {{ hmpoRadios(ctx, {
            id: "isUKApplication",
            legend: {
                text: hmpoTitle
            },
            isPageHeading: true,
            items: [
                {
                    value: true
                },
                {
                    value: false,
                    conditional: {
                        html: hmpoSelect(ctx, {
                            id: "countryOfApplication",
                            label: {
                                text: "Country or territory",
                                classes: "govuk-label--m"
                            },
                            placeholder: true
                        })
                    }
                }
            ]
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
