{% extends "layout-tracking-status.html" %}

{% block trackingHeader %}
    {% if values.documentsRequired == "passport" %}
        <h1>Send your old passport</h1>
    {% elif values.isUrgent %}
        <h1>We're checking your application</h1>
    {% else %}
        <h1>Send your documents</h1>
    {% endif %}
{% endblock %}

{% set appointmentTime %}
    <p>{{ctx("values.apt-date-time") | date("dddd D MMMM YYYY")}}<br>
        at {{ctx("values.apt-date-time") | date("h:mma") }}</h2></p>
{% endset %}
{% set appointmentAddress %}
    <p>
        {{ctx("values.apt-location.name")}}<br>
        {% for item in ctx("values.apt-location.address") %}
            {{item }}<br>
        {% endfor %}

        {{ctx("values.apt-location.postcode")}}<br>
        <a data-id="appointment-location-map" href="https://www.google.co.uk/maps/?q={{ctx("values.apt-location.name")}}, {{ctx("values.apt-location.postcode")}}" class="new-window" target="_blank">View map</a>
    </p>
{% endset %}

{% block trackingBody %}
    {% if values.isUrgent %}
        <h2>What happends next</h2>
        <p> If there’s a problem with your application, we’ll call you on the phone number you provided. Otherwise we’ll see you at your appointment.</p>

        <h2>Your collection appointment</h2>
        <h3 class="govuk-heading-s">{{ctx("values.apt-date-time") | date("dddd D MMMM YYYY")}}<br>
            at {{ctx("values.apt-date-time") | date("h:mma") }}</h3></p>

        <h3 class="govuk-heading-s">{{ctx("values.apt-location.name")}}</strong>
        <p>    
            {% for item in ctx("values.apt-location.address") %}
                {{item }}<br>
            {% endfor %}

            {{ctx("values.apt-location.postcode")}}<br>
            <a data-id="appointment-location-map" href="https://www.google.co.uk/maps/?q={{ctx("values.apt-location.name")}}, {{ctx("values.apt-location.postcode")}}" class="new-window" target="_blank">View map</a>
        </p>

        
        <br>
        <p>Don’t arrive any earlier than 10 minutes before your appointment.</p>
        <p>We’ll check and cancel your old passport at your appointment.</p>
        <p>You’ll need to return 2 hours later to collect your new passport. We’ll text you when it’s ready.</p>

        <h2>What you need to bring</h2>
        {% if values.urgentNameChanged %}
            <p>You must bring your <a href="/apply/documents-to-send">old passport and documents</a> with you.</p>
        {% else %}
            <p>You must bring your old passport with you.</p>
        {% endif %}
        <p>If someone is collecting your new passport for you, they need to bring:</p>
        <ul class="govuk-list govuk-list--bullet">
            {% if values.urgentNameChanged %}
                <li>your <a href="/apply/documents-to-send">old passport and documents</a></li>
            {% else %}
                <li>your old passport</li>
            {% endif %}
            <li>a signed and dated letter from you, confirming their full name and giving them permission to collect your passport</li>
            <li>proof of their identity, for example a driving licence or passport</li>
        </ul>

        <h2>Changing your appointment</h2>
        <p>If you need to change or cancel your appointment, <a href="">contact us</a>.</p>

    {% else %}
        <h2>What you need to do</h2>

        {% if values.documentsRequired == "passport" %}
            <p>
                You can now send your old passport.
                Use a strong envelope that is the right size for your passport.
                Check the weight and pay the correct postage – consider using signed for delivery.
            </p>
        {% else %}
            <p>
                You can now send your documents.
                Use a strong envelope that is the right size for your documents.
                Check the weight and pay the correct postage – consider using signed for delivery.
            </p>
        {% endif %}

        {% if values.documentsRequired == "passport" %}
            <p>Send your old passport to:</p>
        {% else %}
            <p>Send your documents to:</p>
        {% endif %}

        <p>
            HM Passport Office<br/>
            INBOUND<br/>
            Durham HM Passport Office<br/>
            Freemans Reach<br/>
            Riverside Place<br/>
            Durham<br/>
            DH1 1SL
        </p>

        {# <p>Find out how to send your documents if you’re <a target="_blank" href="/help/multiple-docs">applying as part of a family or couple.</a></p> #}

        {# {% call hmpoDetails({ summaryHtml: "Already sent" }) %}
            <p>
                Check again in 3 days.
                If we still haven’t received your {% if values.documentsRequired == "passport" %}old passport{% else %}documents{% endif %}, <a href="/help" target="_blank">contact HM Passport Office.</a>
            </p>
        {% endcall %} #}
    {% endif %}
{% endblock %}

{% block trackingHistory %}

    {{ trackingHistory([
        "Application received",
        "Identity details received" if values.csigRequired,
        "Email sent to person confirming your identity" if values.csigRequired,
        "Ask someone to confirm your identity" if values.csigRequired,
        "Application submitted"
    ]) }}

{% endblock %}

{% set nextStatuses = [
    "IN_QUEUE" if values.isUrgent == false,
    "PROCESSING" if values.isUrgent == false,
    "REPLACED" if values.isUrgent == false,
    "WITHDRAWN" if values.isUrgent == false,
    "APPLICATION_FAILED" if values.isUrgent == false
] | filter %}


